.login {
    display: grid;
    place-items: center;
    block-size: 100dvh;

    &__wrapper {
        inline-size: min(100%, 33.62469rem);    
        border-radius: 1.625rem;
        border: 1px solid #D6D6D6;
        background: #FFF;
        padding: 3.93rem 2.52rem 2.34rem 2.52rem;
    }

    &__title {
        color: #000;    
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 600; 
    }

    &__subtitle {
        color: #000;
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-block-end: 2.93rem;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input-user {
        width: min(100%, 28.42413rem);
        margin-bottom: 1.37rem;
        padding-inline-start: 1.64rem;
    }

    &__input-email {
        @extend .login__input-user;
    }

    &__input-password {
        @extend .login__input-user;
    }

    &__error {
        position: absolute;
        inset-inline-start: 0px;
        inset-block-end: 6px;
        color: red;
        font-size: 0.813rem;
    }

    &__button {
        inline-size: 28.42413rem;
        block-size: 4.12863rem;
        border-radius: 0.625rem;
        border: 1px solid #EAEAEA;
        background: #0016DF;
        box-shadow: 0px 10px 40px 0px rgba(174, 174, 174, 0.20);
        margin-block-start: 2.77rem;
        color: #FFF;
        font-size: 0.9375rem;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        &:hover {
            background: darken(#0016DF, 8%);
        }
    }

    &__forgot {
        text-align: center;
        margin-block-start: 2.77rem;
        color: #333;
        font-size: 0.9375rem;
        font-weight: 400;

        >span{
            font-weight: bolder;
            cursor: pointer;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        >input {
            all: revert;
            width: 1.34338rem;
            height: 1.34338rem;
            border-radius: 0.3125rem;
            border: 1px solid #D6D6D6;
        }

        >span {
            color: #333;
            font-size: 0.9375rem;
            font-weight: 400;
        }
    }

}