.side {
    display: grid;
    align-content: space-between;
    block-size: 100dvh;
    padding: 1.8295rem 1.37213rem 1.8295rem 1.37213rem;
    border-right: 1.004px solid rgba(149, 102, 20, .25);

    &__single-item {
        display: flex;
        align-items: center;
        block-size: 2.74rem;
        margin-block-end: 0.91rem;  
        border-radius: 0.22869rem;
        // background: #E9F5FE;
        padding-inline-start: 0.91rem;
        cursor: pointer;
        
        &:hover {
            background: #E9F5FE;
        }
    }

    &__user-data {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-block-end: 2.75rem;
    }

    &__icon-user {
        inline-size: 3.5rem;
        block-size: 3.5rem;
        border-radius: 1rem;
        background-color: black;
    }

    &__name {
        font-size: 1rem;
        font-weight: 700;
    }

    &__email {
        font-size: 0.875rem;
        font-weight: 400;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        gap: 0.91rem;
    }


    &__logout {
        display: flex;
        align-items: center;
        block-size: 2.74rem;
        margin-block-end: 0.91rem;  
        border-radius: 0.22869rem;
        padding-inline-start: 0.91rem;
        cursor: pointer;
        background-color: #667A8A;
        transition: background 0.2s ease-in-out;

        >span {
            color: #fff;
        }

        &:hover {    
        background: darken(#667A8A, 8%);
        }
    }
}